.inARowContent {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.inARowContent button {
  background-color: transparent;
  border: transparent;
}

.inARowContent button svg {
  width: 100%;
  object-fit: cover;
}

p {
  margin-right: 1rem;
}
